/* base styles */

html {
  font-family: "Hamburger", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.2;
  color: #fed;
  text-shadow: black 5px 5px;
  text-align: center;
  background: #113;
  background: linear-gradient(45deg, #210, #100);
}

body {
  margin: 0;
}

h1 {
  font-size: 70px;
}

p {
  margin: 0 0 10px 0;
}

#container {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}

/* threejs container styles */
#example-container {
  background:#111;
  margin: 20px auto;
  padding: 20px;
  min-height: 300px;
}

#threejs-container {
  position: relative;
  background:#000;
  color: #666;
  text-align: center;
  padding: 50% 0 0 0;
  height: 0;
}

#threejs-container canvas {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
