/* base styles */

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.2;
  color: #444;
  text-shadow: black 5px 5px 10px;
  text-align: center;
}

body {
  margin: 0;
}

h1 {
  font-size: 70px;
}

#title {
  position: absolute;
  z-index: 100;
  top: 20px;
  left: 80px;
}

#bloglink {
  position: absolute;
  z-index: 100;
  top: 160px;
  left: 80px;
  color: white;
}

/* threejs container styles */
#example-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background:#111;
  min-height: 300px;
}

#threejs-container {
  position: relative;
  background:#000;
  color: #666;
  text-align: center;
  height: 100%;
}

#threejs-container canvas {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
